#esri-header {
height: 175px;
background: url('https://cloud.githubusercontent.com/assets/4120376/2662569/ab9cc4a8-c040-11e3-9da8-6b50ecc435b0.jpg') top center;
}

#esri-title {
font-size: 40px;
font-weight: 300;
color: #DA4D1E;
}

#e-header {
width: 960px;
margin: 0 auto;
padding-top: 30px;
}

#e-nav-background {
 height: 45px;
 width: 100%;
 position: relative;
 background: rgba(255, 255, 255, .9);
 top:101px;
}
